/* reminder: minimize styling overrides! */

.hi {
     border: 2px solid magenta !important;
}

#aninoDock #dash * {
  margin: 0px !important;
  padding: 0px !important;
}

#aninoDock #dash .dash-item-container {
  border: 2px solid red;
}

#aninoDockOverlay #panelLeft > StBin {
  /* border: 2px solid red; */
  margin-right: 10px;
}
